/* ESTILOS PARA ABOUTTHESPORT.HTML */

.content__sport{
    margin: 8rem;

    background-image: url(../../imagenes/backgroundpexels.jpg);
    background-size: 100% auto;
    color: #fff;
}


.preguntas-frecuentes{
    margin: 3rem;
}

.accordion-button{
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.titulo-preguntas{
    padding: 30px;
    text-align: center;
}

.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: #ffffff;
    font-size: 20px;
}

div h1{
    color: rgb(0, 155, 139);
    font-weight: 900;
}

.accordion-body{
    color: #000000;
}