
$hovercolorvar: rgba(17, 185, 143, 0.781);

.logo-vector{
    height: 120px;
    width: auto;
}
.nav-link{
    margin-left: 50px !important;
    font-family: Barlow !important;
    font-weight: 300px !important;
    color: white !important;
    height: 100%;

    &:hover{
        color: $hovercolorvar !important;
        border-radius: 6px;
    }
}

.active{
    color: $hovercolorvar !important;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.616)!important;
}

#navbarNavAltMarkup{
    justify-content: flex-end;
}

.navbar-nav{
    height: 100%;
}

.fa-solid {
    font-size: 20px !important;
    font-weight: 400px;
    
}