/* ESTILOS PARA PAGINA RUTINAS.HTML */

.container{
    width: 100%;
}

.card-text{
    font-size: 15px;
}

.boton{
    background-color: black;
    border: 0;

    &:hover{
        background-color: white;
        color: black;
    }
}

.card-img-top{
    height: 180px;
}

.card-body{
    text-align: center;
    background-color: rgb(228, 228, 228);
}
