/* ESTILOS PARA PAGINA GUIAS.HMTL */
.caja-guias{
    background: rgb(227,9,9);
    background: linear-gradient(90deg, rgba(227,9,9,1) 1%, rgba(8,14,77,1) 100%);
    color: #ffffff;
}
.available{
    background-color: rgba(0, 128, 0, 0.267);
}

.notavailable{
    background-color: rgba(128, 30, 0, 0.267);
}